<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzgc.service.white.dao.WhiteMapper" >
  <resultMap id="BaseResultMap" type="com.hzgc.service.white.model.White" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="organization" property="organization" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.hzgc.service.white.model.White" extends="BaseResultMap" >
    <result column="devices" property="devices" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, organization, status, devices
  </sql>
  <sql id="Blob_Column_List" >
    devices
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_dispatch_white
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="searchInfo" resultMap="BaseResultMap" parameterType="com.hzgc.service.white.param.SearchWhiteDTO">
    select
    <include refid="Base_Column_List"/>
    from t_dispatch_white
    <where>
      <if test="type != null ">
        name ="%" #{type,jdbcType=VARCHAR}"%"
      </if>
    </where>
  </select>
  <select id="searchWhiteInfo" resultMap="ResultMapWithBLOBs" parameterType="com.hzgc.service.white.param.SearchWhiteDTO">
  select
    <include refid="Base_Column_List"/>
    from t_dispatch_white
    <where>
      <if test="name != null  and name.length() > 0 ">
        name like "%" #{name,jdbcType=VARCHAR}"%"
      </if>
    </where>
  </select>
  <select id="selectByDefid" resultMap="BaseResultMap" parameterType="com.hzgc.service.white.model.White">
    select
    <include refid="Base_Column_List"/>
    from t_dispatch_whiteinfo
    <where>
      <if test="id != null ">
        whiteId = #{id,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_dispatch_white
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hzgc.service.white.model.White" >
    insert into t_dispatch_white (id, name, organization, 
      status, devices)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{organization,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{devices,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hzgc.service.white.model.White" >
    insert into t_dispatch_white
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="organization != null" >
        organization,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="devices != null" >
        devices,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="organization != null" >
        #{organization,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="devices != null" >
        #{devices,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hzgc.service.white.model.White" >
    update t_dispatch_white
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="organization != null" >
        organization = #{organization,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="devices != null" >
        devices = #{devices,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hzgc.service.white.model.White" >
    update t_dispatch_white
    set name = #{name,jdbcType=VARCHAR},
      organization = #{organization,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      devices = #{devices,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hzgc.service.white.model.White" >
    update t_dispatch_white
    set name = #{name,jdbcType=VARCHAR},
      organization = #{organization,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>