<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzgc.cloud.community.dao.FusionImsiMapper" >
  <resultMap id="BaseResultMap" type="com.hzgc.cloud.community.model.FusionImsi" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="peopleid" property="peopleid" jdbcType="VARCHAR" />
    <result column="community" property="community" jdbcType="BIGINT" />
    <result column="deviceid" property="deviceid" jdbcType="VARCHAR" />
    <result column="receivetime" property="receivetime" jdbcType="TIMESTAMP" />
    <result column="imsi" property="imsi" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, peopleid, community, deviceid, receivetime, imsi
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_fusion_imsi
    where id = #{id,jdbcType=BIGINT}
  </select>
  <!--聚焦人员该小区一个月内(30天)抓拍、电围数据查询-->
  <select id="searchCapture1Month" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select receivetime, deviceid, imsi
    from t_fusion_imsi
    where receivetime >= DATE_SUB(now(),INTERVAL 30 DAY)
    <!--and community = (select community from t_people where id = #{peopleid,jdbcType=BIGINT})-->
    and peopleid = #{peopleid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_fusion_imsi
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hzgc.cloud.community.model.FusionImsi" >
    insert into t_fusion_imsi (id, peopleid, community, 
      deviceid, receivetime, imsi
      )
    values (#{id,jdbcType=BIGINT}, #{peopleid,jdbcType=VARCHAR}, #{community,jdbcType=BIGINT}, 
      #{deviceid,jdbcType=VARCHAR}, #{receivetime,jdbcType=TIMESTAMP}, #{imsi,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hzgc.cloud.community.model.FusionImsi" >
    insert into t_fusion_imsi
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="peopleid != null" >
        peopleid,
      </if>
      <if test="community != null" >
        community,
      </if>
      <if test="deviceid != null" >
        deviceid,
      </if>
      <if test="receivetime != null" >
        receivetime,
      </if>
      <if test="imsi != null" >
        imsi,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="peopleid != null" >
        #{peopleid,jdbcType=VARCHAR},
      </if>
      <if test="community != null" >
        #{community,jdbcType=BIGINT},
      </if>
      <if test="deviceid != null" >
        #{deviceid,jdbcType=VARCHAR},
      </if>
      <if test="receivetime != null" >
        #{receivetime,jdbcType=TIMESTAMP},
      </if>
      <if test="imsi != null" >
        #{imsi,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hzgc.cloud.community.model.FusionImsi" >
    update t_fusion_imsi
    <set >
      <if test="peopleid != null" >
        peopleid = #{peopleid,jdbcType=VARCHAR},
      </if>
      <if test="community != null" >
        community = #{community,jdbcType=BIGINT},
      </if>
      <if test="deviceid != null" >
        deviceid = #{deviceid,jdbcType=VARCHAR},
      </if>
      <if test="receivetime != null" >
        receivetime = #{receivetime,jdbcType=TIMESTAMP},
      </if>
      <if test="imsi != null" >
        imsi = #{imsi,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hzgc.cloud.community.model.FusionImsi" >
    update t_fusion_imsi
    set peopleid = #{peopleid,jdbcType=VARCHAR},
      community = #{community,jdbcType=BIGINT},
      deviceid = #{deviceid,jdbcType=VARCHAR},
      receivetime = #{receivetime,jdbcType=TIMESTAMP},
      imsi = #{imsi,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>