<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzgc.cluster.dispatch.dao.DispatchIpcMapper" >
  <resultMap id="BaseResultMap" type="com.hzgc.cluster.dispatch.model.DispatchIpc" >
    <result column="defid" property="defid" jdbcType="VARCHAR" />
    <result column="ipc" property="ipc" jdbcType="VARCHAR" />
  </resultMap>

  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String">
    select ipc from t_dispatch_ipc where defid = #{defid,jdbcType=VARCHAR}
  </select>

  <insert id="insert" parameterType="com.hzgc.cluster.dispatch.model.DispatchIpc" >
    insert into t_dispatch_ipc (defid, ipc)
    values (#{defid,jdbcType=VARCHAR}, #{ipc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hzgc.cluster.dispatch.model.DispatchIpc" >
    insert into t_dispatch_ipc
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="defid != null" >
        defid,
      </if>
      <if test="ipc != null" >
        ipc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="defid != null" >
        #{defid,jdbcType=VARCHAR},
      </if>
      <if test="ipc != null" >
        #{ipc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>