<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzgc.cluster.dispatch.dao.DispatchNameMapper" >
  <resultMap id="BaseResultMap" type="com.hzgc.cluster.dispatch.model.DispatchName" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="defid" property="defid" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="feature" property="feature" jdbcType="VARCHAR" />
    <result column="bit_feature" property="bitFeature" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.hzgc.cluster.dispatch.model.DispatchName" extends="BaseResultMap" >
    <result column="picture" property="picture" jdbcType="LONGVARBINARY" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, defid, name, feature, bit_feature
  </sql>
  <sql id="Blob_Column_List" >
    picture
  </sql>

  <select id="selectByDefid" resultMap="BaseResultMap" parameterType="java.lang.String">
    select name, feature from t_dispatch_name where defid = #{defid,jdbcType=VARCHAR}
  </select>

  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_dispatch_name
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_dispatch_name
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hzgc.cluster.dispatch.model.DispatchName" >
    insert into t_dispatch_name (id, defid, name, 
      feature, bit_feature, picture
      )
    values (#{id,jdbcType=INTEGER}, #{defid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{feature,jdbcType=VARCHAR}, #{bitFeature,jdbcType=VARCHAR}, #{picture,jdbcType=LONGVARBINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hzgc.cluster.dispatch.model.DispatchName" >
    insert into t_dispatch_name
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="defid != null" >
        defid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="feature != null" >
        feature,
      </if>
      <if test="bitFeature != null" >
        bit_feature,
      </if>
      <if test="picture != null" >
        picture,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="defid != null" >
        #{defid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="feature != null" >
        #{feature,jdbcType=VARCHAR},
      </if>
      <if test="bitFeature != null" >
        #{bitFeature,jdbcType=VARCHAR},
      </if>
      <if test="picture != null" >
        #{picture,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hzgc.cluster.dispatch.model.DispatchName" >
    update t_dispatch_name
    <set >
      <if test="defid != null" >
        defid = #{defid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="feature != null" >
        feature = #{feature,jdbcType=VARCHAR},
      </if>
      <if test="bitFeature != null" >
        bit_feature = #{bitFeature,jdbcType=VARCHAR},
      </if>
      <if test="picture != null" >
        picture = #{picture,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hzgc.cluster.dispatch.model.DispatchName" >
    update t_dispatch_name
    set defid = #{defid,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      feature = #{feature,jdbcType=VARCHAR},
      bit_feature = #{bitFeature,jdbcType=VARCHAR},
      picture = #{picture,jdbcType=LONGVARBINARY}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hzgc.cluster.dispatch.model.DispatchName" >
    update t_dispatch_name
    set defid = #{defid,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      feature = #{feature,jdbcType=VARCHAR},
      bit_feature = #{bitFeature,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>