<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzgc.service.imsi.dao.ImsiInfoMapper">
  <resultMap id="BaseResultMap" type="com.hzgc.common.service.imsi.ImsiInfo">
    <result column="id" jdbcType="VARCHAR" property="id"/>
    <result column="controlsn" jdbcType="VARCHAR" property="controlsn" />
    <result column="sourcesn" jdbcType="VARCHAR" property="sourcesn" />
    <result column="imsi" jdbcType="VARCHAR" property="imsi" />
    <result column="cellid" jdbcType="VARCHAR" property="cellid" />
    <result column="lac" jdbcType="VARCHAR" property="lac" />
    <result column="mscid" jdbcType="VARCHAR" property="mscid" />
    <result column="imei" jdbcType="VARCHAR" property="imei" />
    <result column="freq" jdbcType="VARCHAR" property="freq" />
    <result column="biscorpci" jdbcType="VARCHAR" property="biscorpci" />
    <result column="attach" jdbcType="VARCHAR" property="attach" />
    <result column="standard" jdbcType="VARCHAR" property="standard" />
    <result column="savetime" jdbcType="TIMESTAMP" property="time" />
    <result column="communityId" jdbcType="BIGINT" property="communityId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, controlsn, sourcesn, imsi, cellid, lac, mscid, imei, freq, biscorpci, attach, standard, savetime, communityId
  </sql>

  <select id="selectByTime" resultMap="BaseResultMap" parameterType="com.hzgc.service.imsi.model.ImsiParam">
    select
    <include refid="Base_Column_List" />
    from t_imsi_all
    where savetime between #{startTime,jdbcType=TIMESTAMP} and #{endTime,jdbcType=TIMESTAMP}
  </select>

  <select id="searchIMSI" resultMap="BaseResultMap" parameterType="com.hzgc.service.imsi.model.SearchImsiParam">
    select
    <include refid="Base_Column_List" />
    from t_imsi_all
    <where>
      <if test="searchType == '0'.toString() and searchVal != null and searchVal != ''">
        controlsn like "%" #{searchVal,jdbcType=VARCHAR} "%"
      </if>
      <if test="searchType == '1'.toString() and searchVal != null and searchVal != ''">
        imsi like "%" #{searchVal,jdbcType=VARCHAR} "%"
      </if>
      <if test="communityIds != null and communityIds.size() > 0">
        and communityId in
        <foreach collection="communityIds" item="model" open="(" close=")" separator=",">
          #{model}
        </foreach>
      </if>
    </where>
    order by savetime desc
  </select>

  <insert id="insertSelective" parameterType="com.hzgc.common.service.imsi.ImsiInfo">
    insert into t_imsi_all
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="controlsn != null">
        controlsn,
      </if>
      <if test="sourcesn != null">
        sourcesn,
      </if>
      <if test="imsi != null">
        imsi,
      </if>
      <if test="cellid != null">
        cellid,
      </if>
      <if test="lac != null">
        lac,
      </if>
      <if test="mscid != null">
        mscid,
      </if>
      <if test="imei != null">
        imei,
      </if>
      <if test="freq != null">
        freq,
      </if>
      <if test="biscorpci != null">
        biscorpci,
      </if>
      <if test="attach != null">
        attach,
      </if>
      <if test="standard != null">
        standard,
      </if>
      <if test="time != null">
        savetime,
      </if>
      <if test="communityId != null">
        communityId
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="controlsn != null">
        #{controlsn,jdbcType=VARCHAR},
      </if>
      <if test="sourcesn != null">
        #{sourcesn,jdbcType=VARCHAR},
      </if>
      <if test="imsi != null">
        #{imsi,jdbcType=VARCHAR},
      </if>
      <if test="cellid != null">
        #{cellid,jdbcType=VARCHAR},
      </if>
      <if test="lac != null">
        #{lac,jdbcType=VARCHAR},
      </if>
      <if test="mscid != null">
        #{mscid,jdbcType=VARCHAR},
      </if>
      <if test="imei != null">
        #{imei,jdbcType=VARCHAR},
      </if>
      <if test="freq != null">
        #{freq,jdbcType=VARCHAR},
      </if>
      <if test="biscorpci != null">
        #{biscorpci,jdbcType=VARCHAR},
      </if>
      <if test="attach != null">
        #{attach,jdbcType=VARCHAR},
      </if>
      <if test="standard != null">
        #{standard,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="communityId != null">
        #{communityId,jdbcType=BIGINT}
      </if>
    </trim>
  </insert>

</mapper>