<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzgc.service.imsi.dao.MacInfoMapper">
    <resultMap id="BaseResultMap" type="com.hzgc.service.imsi.model.MacInfo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="sn" property="sn" jdbcType="VARCHAR"/>
        <result column="mac" property="mac" jdbcType="VARCHAR"/>
        <result column="wifisn" property="wifisn" jdbcType="VARCHAR"/>
        <result column="time" property="time" jdbcType="TIMESTAMP"/>
        <result column="communityId" property="communityId" jdbcType="BIGINT"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, sn, wifisn, mac, time, communityId
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_mac_all
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectBySns" resultMap="BaseResultMap" parameterType="com.hzgc.service.imsi.model.MacParam">
        select
        <include refid="Base_Column_List"/>
        from t_mac_all
        <where>
            <if test="startTime != null and endTime != null">
                time between #{startTime,jdbcType=TIMESTAMP} and #{endTime,jdbcType=TIMESTAMP}
            </if>
            <if test="list != null and list.size() > 0">
                and sn in
                <foreach collection="list" item="model" open="(" close=")" separator=",">
                    #{model}
                </foreach>
            </if>
            order by time DESC
            <if test="start != null and limit != null">
                limit #{start,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
            </if>
        </where>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from t_mac_all
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insertSelective" parameterType="com.hzgc.service.imsi.model.MacInfo">
        insert into t_mac_all
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sn != null">
                sn,
            </if>
            <if test="mac != null">
                mac,
            </if>
            <if test="wifisn != null">
                wifisn,
            </if>
            <if test="time != null">
                time,
            </if>
            <if test="communityId != null">
                communityId,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sn != null">
                #{sn,jdbcType=VARCHAR},
            </if>
            <if test="mac != null">
                #{mac,jdbcType=VARCHAR},
            </if>
            <if test="wifisn != null">
                #{wifisn,jdbcType=VARCHAR},
            </if>
            <if test="time != null">
                #{time,jdbcType=TIMESTAMP},
            </if>
            <if test="communityId != null">
                #{communityId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
</mapper>