<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzgc.service.fusion.dao.FusionImsiMapper" >
  <resultMap id="BaseResultMap" type="com.hzgc.service.fusion.model.FusionImsi" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="peopleid" property="peopleid" jdbcType="VARCHAR" />
    <result column="deviceid" property="deviceid" jdbcType="VARCHAR" />
    <result column="receivetime" property="receivetime" jdbcType="TIMESTAMP" />
    <result column="imsi" property="imsi" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, peopleid, deviceid, receivetime, imsi
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from t_fusion_imsi
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_fusion_imsi
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hzgc.service.fusion.model.FusionImsi" >
    insert into t_fusion_imsi (id, peopleid, deviceid, community,
    receivetime, imsi)
    values (#{id,jdbcType=BIGINT}, #{peopleid,jdbcType=VARCHAR}, #{deviceid,jdbcType=VARCHAR}, #{community,jdbcType=BIGINT},
    #{receivetime,jdbcType=TIMESTAMP}, #{imsi,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hzgc.service.fusion.model.FusionImsi" >
    insert into t_fusion_imsi
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="peopleid != null" >
        peopleid,
      </if>
      <if test="deviceid != null" >
        deviceid,
      </if>
      <if test="community != null" >
        community,
      </if>
      <if test="receivetime != null" >
        receivetime,
      </if>
      <if test="imsi != null" >
        imsi,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="peopleid != null" >
        #{peopleid,jdbcType=VARCHAR},
      </if>
      <if test="deviceid != null" >
        #{deviceid,jdbcType=VARCHAR},
      </if>
      <if test="community != null">
        #{community,jdbcType=BIGINT},
      </if>
      <if test="receivetime != null" >
        #{receivetime,jdbcType=TIMESTAMP},
      </if>
      <if test="imsi != null" >
        #{imsi,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hzgc.service.fusion.model.FusionImsi" >
    update t_fusion_imsi
    <set >
      <if test="peopleid != null" >
        peopleid = #{peopleid,jdbcType=VARCHAR},
      </if>
      <if test="deviceid != null" >
        deviceid = #{deviceid,jdbcType=VARCHAR},
      </if>
      <if test="receivetime != null" >
        receivetime = #{receivetime,jdbcType=TIMESTAMP},
      </if>
      <if test="imsi != null" >
        imsi = #{imsi,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hzgc.service.fusion.model.FusionImsi" >
    update t_fusion_imsi
    set peopleid = #{peopleid,jdbcType=VARCHAR},
    deviceid = #{deviceid,jdbcType=VARCHAR},
    receivetime = #{receivetime,jdbcType=TIMESTAMP},
    imsi = #{imsi,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>