<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzgc.cloud.peoman.worker.dao.InnerFeatureMapper">
    <resultMap id="BaseResultMap" type="com.hzgc.cloud.peoman.worker.model.InnerFeature">
        <id column="peopleid" property="peopleid" jdbcType="VARCHAR"/>
        <result column="feature" property="feature" jdbcType="VARCHAR"/>
        <result column="bitfeature" property="bitfeature" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        peopleid, feature, bitfeature
    </sql>

    <select id="select" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_inner_feature
    </select>
    <select id="selectByPeopleId" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from t_inner_feature where peopleid=#{peopleid, jdbcType=VARCHAR}
    </select>
    <insert id="insert" parameterType="com.hzgc.cloud.peoman.worker.model.InnerFeature" >
      insert into t_inner_feature (peopleid, feature, bitfeature)
        values (#{peopleid,jdbcType=VARCHAR}, #{feature,jdbcType=VARCHAR}, #{bitfeature,jdbcType=VARCHAR})
    </insert>
    <delete id="delete" parameterType="java.lang.String">
        delete from t_inner_feature where peopleid=#{peopleid, jdbcType=VARCHAR}
    </delete>
    <delete id="deleteAll">
        delete from t_inner_feature
    </delete>
</mapper>