<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzgc.service.community.dao.ImsiAllMapper" >
  <resultMap id="BaseResultMap" type="com.hzgc.service.community.model.ImsiAll" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="imsi" property="imsi" jdbcType="VARCHAR" />
    <result column="controlsn" property="controlsn" jdbcType="VARCHAR" />
    <result column="sourcesn" property="sourcesn" jdbcType="VARCHAR" />
    <result column="imei" property="imei" jdbcType="VARCHAR" />
    <result column="mscid" property="mscid" jdbcType="VARCHAR" />
    <result column="lac" property="lac" jdbcType="VARCHAR" />
    <result column="cellid" property="cellid" jdbcType="VARCHAR" />
    <result column="freq" property="freq" jdbcType="VARCHAR" />
    <result column="biscorpci" property="biscorpci" jdbcType="VARCHAR" />
    <result column="attach" property="attach" jdbcType="VARCHAR" />
    <result column="savetime" property="savetime" jdbcType="BIGINT" />
    <result column="standard" property="standard" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, imsi, controlsn, sourcesn, imei, mscid, lac, cellid, freq, biscorpci, attach, 
    savetime, standard
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_imsi_all
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByImsi" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from t_imsi_all
    where imsi in
    <foreach collection="list" item="model" open="(" close=")" separator=",">
      #{model}
    </foreach>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_imsi_all
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hzgc.service.community.model.ImsiAll" >
    insert into t_imsi_all (id, imsi, controlsn, 
      sourcesn, imei, mscid, 
      lac, cellid, freq, 
      biscorpci, attach, savetime, 
      standard)
    values (#{id,jdbcType=INTEGER}, #{imsi,jdbcType=VARCHAR}, #{controlsn,jdbcType=VARCHAR}, 
      #{sourcesn,jdbcType=VARCHAR}, #{imei,jdbcType=VARCHAR}, #{mscid,jdbcType=VARCHAR}, 
      #{lac,jdbcType=VARCHAR}, #{cellid,jdbcType=VARCHAR}, #{freq,jdbcType=VARCHAR}, 
      #{biscorpci,jdbcType=VARCHAR}, #{attach,jdbcType=VARCHAR}, #{savetime,jdbcType=BIGINT}, 
      #{standard,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hzgc.service.community.model.ImsiAll" >
    insert into t_imsi_all
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="imsi != null" >
        imsi,
      </if>
      <if test="controlsn != null" >
        controlsn,
      </if>
      <if test="sourcesn != null" >
        sourcesn,
      </if>
      <if test="imei != null" >
        imei,
      </if>
      <if test="mscid != null" >
        mscid,
      </if>
      <if test="lac != null" >
        lac,
      </if>
      <if test="cellid != null" >
        cellid,
      </if>
      <if test="freq != null" >
        freq,
      </if>
      <if test="biscorpci != null" >
        biscorpci,
      </if>
      <if test="attach != null" >
        attach,
      </if>
      <if test="savetime != null" >
        savetime,
      </if>
      <if test="standard != null" >
        standard,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="imsi != null" >
        #{imsi,jdbcType=VARCHAR},
      </if>
      <if test="controlsn != null" >
        #{controlsn,jdbcType=VARCHAR},
      </if>
      <if test="sourcesn != null" >
        #{sourcesn,jdbcType=VARCHAR},
      </if>
      <if test="imei != null" >
        #{imei,jdbcType=VARCHAR},
      </if>
      <if test="mscid != null" >
        #{mscid,jdbcType=VARCHAR},
      </if>
      <if test="lac != null" >
        #{lac,jdbcType=VARCHAR},
      </if>
      <if test="cellid != null" >
        #{cellid,jdbcType=VARCHAR},
      </if>
      <if test="freq != null" >
        #{freq,jdbcType=VARCHAR},
      </if>
      <if test="biscorpci != null" >
        #{biscorpci,jdbcType=VARCHAR},
      </if>
      <if test="attach != null" >
        #{attach,jdbcType=VARCHAR},
      </if>
      <if test="savetime != null" >
        #{savetime,jdbcType=BIGINT},
      </if>
      <if test="standard != null" >
        #{standard,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hzgc.service.community.model.ImsiAll" >
    update t_imsi_all
    <set >
      <if test="imsi != null" >
        imsi = #{imsi,jdbcType=VARCHAR},
      </if>
      <if test="controlsn != null" >
        controlsn = #{controlsn,jdbcType=VARCHAR},
      </if>
      <if test="sourcesn != null" >
        sourcesn = #{sourcesn,jdbcType=VARCHAR},
      </if>
      <if test="imei != null" >
        imei = #{imei,jdbcType=VARCHAR},
      </if>
      <if test="mscid != null" >
        mscid = #{mscid,jdbcType=VARCHAR},
      </if>
      <if test="lac != null" >
        lac = #{lac,jdbcType=VARCHAR},
      </if>
      <if test="cellid != null" >
        cellid = #{cellid,jdbcType=VARCHAR},
      </if>
      <if test="freq != null" >
        freq = #{freq,jdbcType=VARCHAR},
      </if>
      <if test="biscorpci != null" >
        biscorpci = #{biscorpci,jdbcType=VARCHAR},
      </if>
      <if test="attach != null" >
        attach = #{attach,jdbcType=VARCHAR},
      </if>
      <if test="savetime != null" >
        savetime = #{savetime,jdbcType=BIGINT},
      </if>
      <if test="standard != null" >
        standard = #{standard,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hzgc.service.community.model.ImsiAll" >
    update t_imsi_all
    set imsi = #{imsi,jdbcType=VARCHAR},
      controlsn = #{controlsn,jdbcType=VARCHAR},
      sourcesn = #{sourcesn,jdbcType=VARCHAR},
      imei = #{imei,jdbcType=VARCHAR},
      mscid = #{mscid,jdbcType=VARCHAR},
      lac = #{lac,jdbcType=VARCHAR},
      cellid = #{cellid,jdbcType=VARCHAR},
      freq = #{freq,jdbcType=VARCHAR},
      biscorpci = #{biscorpci,jdbcType=VARCHAR},
      attach = #{attach,jdbcType=VARCHAR},
      savetime = #{savetime,jdbcType=BIGINT},
      standard = #{standard,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>