<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzgc.service.community.dao.PeopleRecognizeMapper">
    <resultMap id="BaseResultMap" type="com.hzgc.service.community.model.PeopleRecognize">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="peopleid" property="peopleid" jdbcType="VARCHAR"/>
        <result column="community" property="community" jdbcType="BIGINT"/>
        <result column="pictureid" property="pictureid" jdbcType="BIGINT"/>
        <result column="deviceid" property="deviceid" jdbcType="VARCHAR"/>
        <result column="capturetime" property="capturetime" jdbcType="TIMESTAMP"/>
        <result column="surl" property="surl" jdbcType="VARCHAR"/>
        <result column="burl" property="burl" jdbcType="VARCHAR"/>
        <result column="flag" property="flag" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, peopleid, community, pictureid, deviceid, capturetime, surl, burl, flag
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from t_people_recognize
        where id = #{id,jdbcType=BIGINT}
    </select>
    <!--聚焦人员该小区一个月内(30天)抓拍、电围数据查询-->
    <select id="searchCapture1Month" resultMap="BaseResultMap" parameterType="java.lang.String">
        select capturetime, deviceid, burl, surl
        from t_people_recognize
        where capturetime >= DATE_SUB(now(),INTERVAL 30 DAY)
        and flag = 1
        and community = (select community from t_people where id = #{peopleid,jdbcType=VARCHAR})
        and peopleid = #{peopleid,jdbcType=BIGINT}
    </select>
    <!--查询小区迁出人口最后抓拍信息-->
    <select id="searchCommunityOutPeopleLastCapture" resultMap="BaseResultMap" parameterType="java.lang.String">
        select capturetime, deviceid, surl
        from t_people_recognize
        where peopleid = #{peopleid,jdbcType=VARCHAR}
        order by capturetime desc limit 1
    </select>
    <!--小区迁入人口抓拍详情:人员抓拍列表-->
    <select id="searchCommunityNewPeopleCaptureData" resultMap="BaseResultMap" parameterType="java.lang.String">
        select capturetime, deviceid, surl
        from t_people_recognize
        where peopleid = #{peopleid,jdbcType=VARCHAR}
        order by capturetime desc
    </select>
    <!--小区迁入人口抓拍详情:人员抓拍列表-->
    <select id="getSurlByPeopleId" resultType="java.lang.String" parameterType="java.lang.String">
        select surl from t_people_recognize
        where peopleid = #{peopleid,jdbcType=VARCHAR}
        and flag = 10
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from t_people_recognize
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.hzgc.service.community.model.PeopleRecognize">
        insert into t_people_recognize (id, peopleid, community,
        pictureid, deviceid, capturetime,
        surl, burl, flag)
        values (#{id,jdbcType=BIGINT}, #{peopleid,jdbcType=VARCHAR}, #{community,jdbcType=BIGINT},
        #{pictureid,jdbcType=BIGINT}, #{deviceid,jdbcType=VARCHAR}, #{capturetime,jdbcType=TIMESTAMP},
        #{surl,jdbcType=VARCHAR}, #{burl,jdbcType=VARCHAR}, #{flag,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.hzgc.service.community.model.PeopleRecognize">
        insert into t_people_recognize
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="peopleid != null">
                peopleid,
            </if>
            <if test="community != null">
                community,
            </if>
            <if test="pictureid != null">
                pictureid,
            </if>
            <if test="deviceid != null">
                deviceid,
            </if>
            <if test="capturetime != null">
                capturetime,
            </if>
            <if test="surl != null">
                surl,
            </if>
            <if test="burl != null">
                burl,
            </if>
            <if test="flag != null">
                flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="peopleid != null">
                #{peopleid,jdbcType=VARCHAR},
            </if>
            <if test="community != null">
                #{community,jdbcType=BIGINT},
            </if>
            <if test="pictureid != null">
                #{pictureid,jdbcType=BIGINT},
            </if>
            <if test="deviceid != null">
                #{deviceid,jdbcType=VARCHAR},
            </if>
            <if test="capturetime != null">
                #{capturetime,jdbcType=TIMESTAMP},
            </if>
            <if test="surl != null">
                #{surl,jdbcType=VARCHAR},
            </if>
            <if test="burl != null">
                #{burl,jdbcType=VARCHAR},
            </if>
            <if test="flag != null">
                #{flag,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hzgc.service.community.model.PeopleRecognize">
        update t_people_recognize
        <set>
            <if test="peopleid != null">
                peopleid = #{peopleid,jdbcType=VARCHAR},
            </if>
            <if test="community != null">
                community = #{community,jdbcType=BIGINT},
            </if>
            <if test="pictureid != null">
                pictureid = #{pictureid,jdbcType=BIGINT},
            </if>
            <if test="deviceid != null">
                deviceid = #{deviceid,jdbcType=VARCHAR},
            </if>
            <if test="capturetime != null">
                capturetime = #{capturetime,jdbcType=TIMESTAMP},
            </if>
            <if test="surl != null">
                surl = #{surl,jdbcType=VARCHAR},
            </if>
            <if test="burl != null">
                burl = #{burl,jdbcType=VARCHAR},
            </if>
            <if test="flag != null">
                flag = #{flag,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hzgc.service.community.model.PeopleRecognize">
        update t_people_recognize
        set peopleid = #{peopleid,jdbcType=VARCHAR},
        community = #{community,jdbcType=BIGINT},
        pictureid = #{pictureid,jdbcType=BIGINT},
        deviceid = #{deviceid,jdbcType=VARCHAR},
        capturetime = #{capturetime,jdbcType=TIMESTAMP},
        surl = #{surl,jdbcType=VARCHAR},
        burl = #{burl,jdbcType=VARCHAR},
        flag = #{flag,jdbcType=INTEGER}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>