<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzgc.service.people.dao.PeopleMapper">
    <resultMap id="BaseResultMap" type="com.hzgc.service.people.model.People">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="idcard" property="idcard" jdbcType="VARCHAR"/>
        <result column="region" property="region" jdbcType="BIGINT"/>
        <result column="household" property="household" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
        <result column="birthday" property="birthday" jdbcType="VARCHAR"/>
        <result column="politic" property="politic" jdbcType="VARCHAR"/>
        <result column="edulevel" property="edulevel" jdbcType="VARCHAR"/>
        <result column="job" property="job" jdbcType="VARCHAR"/>
        <result column="birthplace" property="birthplace" jdbcType="VARCHAR"/>
        <result column="community" property="community" jdbcType="BIGINT"/>
        <result column="lasttime" property="lasttime" jdbcType="TIMESTAMP"/>
        <result column="createtime" property="createtime" jdbcType="TIMESTAMP"/>
        <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP"/>
        <collection property="flag" ofType="com.hzgc.service.people.model.Flag" column="id"
                    select="com.hzgc.service.people.dao.FlagMapper.selectByPeopleId"/>
        <collection property="imsi" ofType="com.hzgc.service.people.model.Imsi" column="id"
                    select="com.hzgc.service.people.dao.ImsiMapper.selectByPeopleId"/>
        <collection property="phone" ofType="com.hzgc.service.people.model.Phone" column="id"
                    select="com.hzgc.service.people.dao.PhoneMapper.selectByPeopleId"/>
        <collection property="house" ofType="com.hzgc.service.people.model.House" column="id"
                    select="com.hzgc.service.people.dao.HouseMapper.selectByPeopleId"/>
        <collection property="car" ofType="com.hzgc.service.people.model.Car" column="id"
                    select="com.hzgc.service.people.dao.CarMapper.selectByPeopleId"/>
        <collection property="picture" ofType="com.hzgc.service.people.model.PictureWithBLOBs" column="id"
                    select="com.hzgc.service.people.dao.PictureMapper.selectByPeopleId"/>
    </resultMap>
    <resultMap id="CollectionResultMap" type="com.hzgc.service.people.model.People">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="idcard" property="idcard" jdbcType="VARCHAR"/>
        <result column="region" property="region" jdbcType="BIGINT"/>
        <result column="household" property="household" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
        <result column="birthday" property="birthday" jdbcType="VARCHAR"/>
        <result column="politic" property="politic" jdbcType="VARCHAR"/>
        <result column="edulevel" property="edulevel" jdbcType="VARCHAR"/>
        <result column="job" property="job" jdbcType="VARCHAR"/>
        <result column="birthplace" property="birthplace" jdbcType="VARCHAR"/>
        <collection property="flag" ofType="com.hzgc.service.people.model.Flag" column="id"
                    select="com.hzgc.service.people.dao.FlagMapper.selectByPeopleId"/>
        <collection property="imsi" ofType="com.hzgc.service.people.model.Imsi" column="id"
                    select="com.hzgc.service.people.dao.ImsiMapper.selectByPeopleId"/>
        <collection property="phone" ofType="com.hzgc.service.people.model.Phone" column="id"
                    select="com.hzgc.service.people.dao.PhoneMapper.selectByPeopleId"/>
        <collection property="house" ofType="com.hzgc.service.people.model.House" column="id"
                    select="com.hzgc.service.people.dao.HouseMapper.selectByPeopleId"/>
        <collection property="car" ofType="com.hzgc.service.people.model.Car" column="id"
                    select="com.hzgc.service.people.dao.CarMapper.selectByPeopleId"/>
        <collection property="picture" ofType="com.hzgc.service.people.model.PictureWithBLOBs" column="id"
                    select="com.hzgc.service.people.dao.PictureMapper.selectByPeopleId"/>
    </resultMap>
    <resultMap id="CommunityPeopleMap" type="com.hzgc.service.people.model.People">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="idcard" property="idcard" jdbcType="VARCHAR"/>
        <result column="lasttime" property="lasttime" jdbcType="TIMESTAMP"/>
        <result column="pid" property="pictureId" jdbcType="BIGINT"/>
    </resultMap>
    <resultMap id="CountResultMap" type="com.hzgc.service.community.model.CountCommunityPeople" >
        <result column="community" property="community" jdbcType="BIGINT" />
        <result column="count" property="count" jdbcType="INTEGER" />
    </resultMap>
    <resultMap id="CommunityPeopleInfo" type="com.hzgc.service.people.model.People" >
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="idcard" property="idcard" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="VARCHAR"/>
        <result column="birthday" property="birthday" jdbcType="VARCHAR"/>
        <result column="birthplace" property="birthplace" jdbcType="VARCHAR"/>
        <result column="pid" property="pictureId" jdbcType="BIGINT"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, name, idcard, region, household, address, sex, age, birthday, politic, edulevel,
        job, birthplace, community, lasttime, createtime, updatetime
    </sql>
    <sql id="Collection_Column_list">
        id, name, idcard, region, household, address, sex, age, birthday, politic, edulevel,
        job, birthplace, community
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from t_people
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <select id="selectByIdCard" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from t_people
        where id = (select id from t_people where idcard = #{idcard,jdbcType=VARCHAR})
    </select>
    <select id="searchPeopleByIdCard" resultMap="CommunityPeopleInfo" parameterType="java.lang.String">
        select id, name, idcard, sex, birthday, birthplace, address
        from t_people
        where idcard = #{idcard,jdbcType=VARCHAR}
    </select>
    <!--姓名,身份证号,imis,电话号码模糊匹配和按ID,区域ID精确查找-->
    <select id="searchPeople" resultMap="CollectionResultMap" parameterType="com.hzgc.service.people.param.FilterField">
        select
        <include refid="Collection_Column_list"/>
        from t_people
        <where>
            <if test="regionid != null ">
                region = #{regionid,jdbcType=BIGINT}
            </if>
            <if test="communityid != null ">
                and community = #{communityid,jdbcType=BIGINT}
            </if>
            <if test="name != null and name.length() > 0">
                and name like "%" #{name,jdbcType=VARCHAR} "%"
            </if>
            <if test="idcard != null and idcard.length() > 0">
                and idcard like "%" #{idcard,jdbcType=VARCHAR} "%"
            </if>
            <if test="imsi != null">
                and id in (select peopleid from t_imsi where imsi like "%" #{imsi,jdbcType=VARCHAR} "%")
            </if>
            <if test="phone != null">
                and id in (select peopleid from t_phone where phone like "%" #{phone,jdbcType=VARCHAR} "%")
            </if>
            <if test="peopleIds != null and peopleIds.size() > 0">
                and id in
                <foreach collection="list" item="model" open="(" close=")" separator=",">
                    #{model}
                </foreach>
            </if>
        </where>
    </select>
    <!--小区实有人口数量统计-->
    <select id="countCommunityPeople" resultType="java.lang.Integer" parameterType="java.lang.Long">
        select count(*) from t_people where community = #{community,jdbcType=BIGINT}
    </select>
    <!--统计单个范围（省市区）下所有实有小区列表-->
    <select id="getCommunityIdsById" resultType="java.lang.Long" parameterType="java.lang.Long">
        select distinct community from t_people where community in
        <foreach collection="list" item="model" open="(" close=")" separator=",">
            #{model}
        </foreach>
        and community is not null
    </select>
    <!--小区重点人口数量统计-->
    <select id="countImportantPeople" resultType="java.lang.Integer" parameterType="java.lang.Long">
        select count(*) from
        (select a.id, a.name, a.idcard, a.lasttime, c.id as pid
        from t_people a, t_flag b, t_picture c
        where b.flagid in (0, 1, 2, 3, 4, 5, 6, 8)
        and a.id = b.peopleid
        and a.id = c.peopleid
        and a.community = #{community,jdbcType=BIGINT}
        group by a.id) t_temp
    </select>
    <!--小区重点人口查询-->
    <select id="searchImportantPeople"  resultMap="CommunityPeopleMap" parameterType="java.lang.Long" >
        select a.id, a.name, a.idcard, a.lasttime, c.id as pid
        from t_people a, t_flag b, t_picture c
        where b.flagid in (0, 1, 2, 3, 4, 5, 6, 8)
        and a.id = b.peopleid
        and a.id = c.peopleid
        and a.community = #{community,jdbcType=BIGINT}
        group by a.id
    </select>
    <!--小区关爱人口数量统计-->
    <select id="countCarePeople" resultType="java.lang.Integer" parameterType="java.lang.Long">
        select count(*) from
        (select a.id, a.name, a.idcard, a.lasttime, c.id as pid
        from t_people a, t_flag b, t_picture c
        where b.flagid = 7
        and a.id = b.peopleid
        and a.id = c.peopleid
        and a.community = #{community,jdbcType=BIGINT}
        group by a.id) t_temp
    </select>
    <!--小区关爱人口查询-->
    <select id="searchCarePeople" resultMap="CommunityPeopleMap" parameterType="java.lang.Long">
        select a.id, a.name, a.idcard, a.lasttime, c.id as pid
        from t_people a, t_flag b, t_picture c
        where b.flagid = 7
        and a.id = b.peopleid
        and a.id = c.peopleid
        and a.community = #{community,jdbcType=BIGINT}
        group by a.id
    </select>
    <!--小区实有人口查询-->
    <select id="searchCommunityPeople" resultMap="CommunityPeopleMap" parameterType="java.lang.Long">
        select a.id, a.name, a.idcard, a.lasttime, b.id as pid
        from t_people a, t_picture b
        where a.community = #{community,jdbcType=BIGINT}
        and a.id = b.peopleid
        group by b.peopleid
    </select>
    <!--小区新增人口查询-->
    <select id="searchNewPeople" resultMap="CommunityPeopleMap" parameterType="java.lang.Long">
        select a.id, a.name, a.idcard, a.lasttime, c.id as pid
        from t_people a, t_people_new b, t_picture c
        where b.isconfirm = 2
        and DATE_FORMAT(now(), '%Y%m') = b.month
        and a.id = b.peopleid
        and a.id = c.peopleid
        and b.community = #{community,jdbcType=BIGINT}
        group by c.peopleid
    </select>
    <!--小区迁出人口查询-->
    <select id="searchOutPeople" resultMap="CommunityPeopleMap" parameterType="java.lang.Long">
        select a.id, a.name, a.idcard, a.lasttime, c.id as pid
        from t_people a, t_people_out b, t_picture c
        where b.isconfirm = 2
        and DATE_FORMAT(now(), '%Y%m') = b.month
        and a.id = b.peopleid
        and a.id = c.peopleid
        and b.community = #{community,jdbcType=BIGINT}
        group by c.peopleid
    </select>
    <!--小区迁入迁出人口信息查询-->
    <select id="searchCommunityPeopleInfo" resultMap="CommunityPeopleInfo" parameterType="java.lang.String">
        select a.id, a.name, a.idcard, a.sex, a.birthday, a.birthplace, a.address, b.id as pid
        from t_people a, t_picture b
        where a.id = b.peopleid
        and a.id = #{id,jdbcType=VARCHAR}
        group by b.peopleid
    </select>
    <!--获取人员最后一次出现时间-->
    <select id="getLastTime" resultType="java.sql.Timestamp" parameterType="java.lang.String">
        select lasttime from t_people where id = #{id,jdbcType=VARCHAR}
    </select>
    <!--重点人员识别记录查询-->
    <select id="getImportantPeopleId" resultType="java.lang.String" parameterType="java.lang.Long">
        select distinct a.id
        from t_people a, t_flag b
        where a.id = b.peopleid
        and a.community in
        <foreach collection="list" item="model" open="(" close=")" separator=",">
            #{model}
        </foreach>
        and b.flagid in(0, 1, 2, 3, 4, 5, 6, 8)
    </select>
    <!--根据人员ID删除小区ID-->
    <update id="deleteCommunityByPeopleId" parameterType="java.lang.String">
        update t_people set community = null where id = #{id,jdbcType=VARCHAR}
    </update>
    <!--根据人员ID添加小区ID-->
    <update id="insertCommunityByPeopleId" parameterType="com.hzgc.service.community.param.AffirmOperationDTO">
        update t_people set community = #{communityId,jdbcType=BIGINT} where id = #{peopleId,jdbcType=VARCHAR}
    </update>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from t_people
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.hzgc.service.people.model.People">
        insert into t_people (id, name, idcard,
        region, household, address,
        sex, age, birthday,
        politic, edulevel, job,
        birthplace, community, lasttime,
        createtime, updatetime)
        values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{idcard,jdbcType=VARCHAR},
        #{region,jdbcType=BIGINT}, #{household,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
        #{sex,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, #{birthday,jdbcType=VARCHAR},
        #{politic,jdbcType=VARCHAR}, #{edulevel,jdbcType=VARCHAR}, #{job,jdbcType=VARCHAR},
        #{birthplace,jdbcType=VARCHAR}, #{community,jdbcType=BIGINT}, #{lasttime,jdbcType=TIMESTAMP},
        #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.hzgc.service.people.model.People">
        insert into t_people
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="idcard != null">
                idcard,
            </if>
            <if test="region != null">
                region,
            </if>
            <if test="household != null">
                household,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="age != null">
                age,
            </if>
            <if test="birthday != null">
                birthday,
            </if>
            <if test="politic != null">
                politic,
            </if>
            <if test="edulevel != null">
                edulevel,
            </if>
            <if test="job != null">
                job,
            </if>
            <if test="birthplace != null">
                birthplace,
            </if>
            <if test="community != null">
                community,
            </if>
            <if test="lasttime != null">
                lasttime,
            </if>
            <if test="createtime != null">
                createtime,
            </if>
            <if test="updatetime != null">
                updatetime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="idcard != null">
                #{idcard,jdbcType=VARCHAR},
            </if>
            <if test="region != null">
                #{region,jdbcType=BIGINT},
            </if>
            <if test="household != null">
                #{household,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                #{age,jdbcType=INTEGER},
            </if>
            <if test="birthday != null">
                #{birthday,jdbcType=VARCHAR},
            </if>
            <if test="politic != null">
                #{politic,jdbcType=VARCHAR},
            </if>
            <if test="edulevel != null">
                #{edulevel,jdbcType=VARCHAR},
            </if>
            <if test="job != null">
                #{job,jdbcType=VARCHAR},
            </if>
            <if test="birthplace != null">
                #{birthplace,jdbcType=VARCHAR},
            </if>
            <if test="community != null">
                #{community,jdbcType=BIGINT},
            </if>
            <if test="lasttime != null">
                #{lasttime,jdbcType=TIMESTAMP},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatetime != null">
                #{updatetime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hzgc.service.people.model.People">
        update t_people
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="idcard != null">
                idcard = #{idcard,jdbcType=VARCHAR},
            </if>
            <if test="region != null">
                region = #{region,jdbcType=BIGINT},
            </if>
            <if test="household != null">
                household = #{household,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                age = #{age,jdbcType=INTEGER},
            </if>
            <if test="birthday != null">
                birthday = #{birthday,jdbcType=VARCHAR},
            </if>
            <if test="politic != null">
                politic = #{politic,jdbcType=VARCHAR},
            </if>
            <if test="edulevel != null">
                edulevel = #{edulevel,jdbcType=VARCHAR},
            </if>
            <if test="job != null">
                job = #{job,jdbcType=VARCHAR},
            </if>
            <if test="birthplace != null">
                birthplace = #{birthplace,jdbcType=VARCHAR},
            </if>
            <if test="community != null">
                community = #{community,jdbcType=BIGINT},
            </if>
            <if test="lasttime != null">
                lasttime = #{lasttime,jdbcType=TIMESTAMP},
            </if>
            <if test="createtime != null">
                createtime = #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatetime != null">
                updatetime = #{updatetime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hzgc.service.people.model.People">
        update t_people
        set name = #{name,jdbcType=VARCHAR},
        idcard = #{idcard,jdbcType=VARCHAR},
        region = #{region,jdbcType=BIGINT},
        household = #{household,jdbcType=VARCHAR},
        address = #{address,jdbcType=VARCHAR},
        sex = #{sex,jdbcType=VARCHAR},
        age = #{age,jdbcType=INTEGER},
        birthday = #{birthday,jdbcType=VARCHAR},
        politic = #{politic,jdbcType=VARCHAR},
        edulevel = #{edulevel,jdbcType=VARCHAR},
        job = #{job,jdbcType=VARCHAR},
        birthplace = #{birthplace,jdbcType=VARCHAR},
        community = #{community,jdbcType=BIGINT},
        lasttime = #{lasttime,jdbcType=TIMESTAMP},
        createtime = #{createtime,jdbcType=TIMESTAMP},
        updatetime = #{updatetime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=VARCHAR}
    </update>
</mapper>