<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzgc.service.people.dao.CarMapper" >
  <resultMap id="BaseResultMap" type="com.hzgc.service.people.model.Car" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="carid" property="carid" jdbcType="VARCHAR" />
    <result column="car" property="car" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, carid, car
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_car
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.hzgc.service.people.model.Car" >
    insert into t_car (id, carid, car
      )
    values (#{id,jdbcType=INTEGER}, #{carid,jdbcType=VARCHAR}, #{car,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hzgc.service.people.model.Car" >
    insert into t_car
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="carid != null" >
        carid,
      </if>
      <if test="car != null" >
        car,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="carid != null" >
        #{carid,jdbcType=VARCHAR},
      </if>
      <if test="car != null" >
        #{car,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hzgc.service.people.model.Car" >
    update t_car
    <set >
      <if test="carid != null" >
        carid = #{carid,jdbcType=VARCHAR},
      </if>
      <if test="car != null" >
        car = #{car,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hzgc.service.people.model.Car" >
    update t_car
    set carid = #{carid,jdbcType=VARCHAR},
      car = #{car,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>