<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzgc.service.people.dao.PictureMapper" >
  <resultMap id="BaseResultMap" type="com.hzgc.service.people.model.Picture" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="peopleid" property="peopleid" jdbcType="INTEGER" />
    <result column="idcardpicid" property="idcardpicid" jdbcType="VARCHAR" />
    <result column="capturepicid" property="capturepicid" jdbcType="VARCHAR" />
    <result column="feature" property="feature" jdbcType="VARCHAR" />
    <result column="bitfeature" property="bitfeature" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.hzgc.service.people.model.PictureWithBLOBs" extends="BaseResultMap" >
    <result column="idcardpic" property="idcardpic" jdbcType="LONGVARBINARY" />
    <result column="capturepic" property="capturepic" jdbcType="LONGVARBINARY" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, peopleid, idcardpicid, capturepicid, feature, bitfeature
  </sql>
  <sql id="Blob_Column_List" >
    idcardpic, capturepic
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_picture
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.hzgc.service.people.model.PictureWithBLOBs" >
    insert into t_picture (id, peopleid, idcardpicid, 
      capturepicid, feature, bitfeature, 
      idcardpic, capturepic)
    values (#{id,jdbcType=INTEGER}, #{peopleid,jdbcType=INTEGER}, #{idcardpicid,jdbcType=VARCHAR}, 
      #{capturepicid,jdbcType=VARCHAR}, #{feature,jdbcType=VARCHAR}, #{bitfeature,jdbcType=VARCHAR}, 
      #{idcardpic,jdbcType=LONGVARBINARY}, #{capturepic,jdbcType=LONGVARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="com.hzgc.service.people.model.PictureWithBLOBs" >
    insert into t_picture
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="peopleid != null" >
        peopleid,
      </if>
      <if test="idcardpicid != null" >
        idcardpicid,
      </if>
      <if test="capturepicid != null" >
        capturepicid,
      </if>
      <if test="feature != null" >
        feature,
      </if>
      <if test="bitfeature != null" >
        bitfeature,
      </if>
      <if test="idcardpic != null" >
        idcardpic,
      </if>
      <if test="capturepic != null" >
        capturepic,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="peopleid != null" >
        #{peopleid,jdbcType=INTEGER},
      </if>
      <if test="idcardpicid != null" >
        #{idcardpicid,jdbcType=VARCHAR},
      </if>
      <if test="capturepicid != null" >
        #{capturepicid,jdbcType=VARCHAR},
      </if>
      <if test="feature != null" >
        #{feature,jdbcType=VARCHAR},
      </if>
      <if test="bitfeature != null" >
        #{bitfeature,jdbcType=VARCHAR},
      </if>
      <if test="idcardpic != null" >
        #{idcardpic,jdbcType=LONGVARBINARY},
      </if>
      <if test="capturepic != null" >
        #{capturepic,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hzgc.service.people.model.PictureWithBLOBs" >
    update t_picture
    <set >
      <if test="peopleid != null" >
        peopleid = #{peopleid,jdbcType=INTEGER},
      </if>
      <if test="idcardpicid != null" >
        idcardpicid = #{idcardpicid,jdbcType=VARCHAR},
      </if>
      <if test="capturepicid != null" >
        capturepicid = #{capturepicid,jdbcType=VARCHAR},
      </if>
      <if test="feature != null" >
        feature = #{feature,jdbcType=VARCHAR},
      </if>
      <if test="bitfeature != null" >
        bitfeature = #{bitfeature,jdbcType=VARCHAR},
      </if>
      <if test="idcardpic != null" >
        idcardpic = #{idcardpic,jdbcType=LONGVARBINARY},
      </if>
      <if test="capturepic != null" >
        capturepic = #{capturepic,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hzgc.service.people.model.PictureWithBLOBs" >
    update t_picture
    set peopleid = #{peopleid,jdbcType=INTEGER},
      idcardpicid = #{idcardpicid,jdbcType=VARCHAR},
      capturepicid = #{capturepicid,jdbcType=VARCHAR},
      feature = #{feature,jdbcType=VARCHAR},
      bitfeature = #{bitfeature,jdbcType=VARCHAR},
      idcardpic = #{idcardpic,jdbcType=LONGVARBINARY},
      capturepic = #{capturepic,jdbcType=LONGVARBINARY}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hzgc.service.people.model.Picture" >
    update t_picture
    set peopleid = #{peopleid,jdbcType=INTEGER},
      idcardpicid = #{idcardpicid,jdbcType=VARCHAR},
      capturepicid = #{capturepicid,jdbcType=VARCHAR},
      feature = #{feature,jdbcType=VARCHAR},
      bitfeature = #{bitfeature,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>