<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzgc.service.people.dao.PictureMapper">
    <resultMap id="BaseResultMap" type="com.hzgc.service.people.model.Picture">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="peopleid" property="peopleid" jdbcType="VARCHAR"/>
        <result column="feature" property="feature" jdbcType="VARCHAR"/>
        <result column="bitfeature" property="bitfeature" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.hzgc.service.people.model.PictureWithBLOBs" extends="BaseResultMap">
        <result column="idcardpic" property="idcardpic" jdbcType="LONGVARBINARY"/>
        <result column="capturepic" property="capturepic" jdbcType="LONGVARBINARY"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, peopleid, feature, bitfeature
    </sql>
    <sql id="Blob_Column_List">
        idcardpic, capturepic
    </sql>
    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from t_picture
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectPictureById" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long">
        select
        <include refid="Blob_Column_List"/>
        from t_picture
        where id = #{id,jdbcType=BIGINT}
    </select>
    <!-- 用于人口库关联查询语句 -->
    <select id="selectPicIdByPeopleId" resultType="java.lang.Long" parameterType="java.lang.String">
        select id from t_picture where peopleid = #{peopleid,jdbcType=VARCHAR}
    </select>
    <select id="selectPictureByPeopleId" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String">
        select
        <include refid="Blob_Column_List"/>
        from t_picture
        where id in (select id from t_picture where peopleid = #{peopleid,jdbcType=VARCHAR})
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from t_picture
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.hzgc.service.people.model.PictureWithBLOBs">
        insert into t_picture (id, peopleid, feature,
        bitfeature, idcardpic, capturepic
        )
        values (#{id,jdbcType=BIGINT}, #{peopleid,jdbcType=VARCHAR}, #{feature,jdbcType=VARCHAR},
        #{bitfeature,jdbcType=VARCHAR}, #{idcardpic,jdbcType=LONGVARBINARY}, #{capturepic,jdbcType=LONGVARBINARY}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.hzgc.service.people.model.PictureWithBLOBs">
        insert into t_picture
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="peopleid != null">
                peopleid,
            </if>
            <if test="feature != null">
                feature,
            </if>
            <if test="bitfeature != null">
                bitfeature,
            </if>
            <if test="idcardpic != null">
                idcardpic,
            </if>
            <if test="capturepic != null">
                capturepic,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="peopleid != null">
                #{peopleid,jdbcType=VARCHAR},
            </if>
            <if test="feature != null">
                #{feature,jdbcType=VARCHAR},
            </if>
            <if test="bitfeature != null">
                #{bitfeature,jdbcType=VARCHAR},
            </if>
            <if test="idcardpic != null">
                #{idcardpic,jdbcType=LONGVARBINARY},
            </if>
            <if test="capturepic != null">
                #{capturepic,jdbcType=LONGVARBINARY},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hzgc.service.people.model.PictureWithBLOBs">
        update t_picture
        <set>
            <if test="peopleid != null">
                peopleid = #{peopleid,jdbcType=VARCHAR},
            </if>
            <if test="feature != null">
                feature = #{feature,jdbcType=VARCHAR},
            </if>
            <if test="bitfeature != null">
                bitfeature = #{bitfeature,jdbcType=VARCHAR},
            </if>
            <if test="idcardpic != null">
                idcardpic = #{idcardpic,jdbcType=LONGVARBINARY},
            </if>
            <if test="capturepic != null">
                capturepic = #{capturepic,jdbcType=LONGVARBINARY},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hzgc.service.people.model.PictureWithBLOBs">
        update t_picture
        set peopleid = #{peopleid,jdbcType=VARCHAR},
        feature = #{feature,jdbcType=VARCHAR},
        bitfeature = #{bitfeature,jdbcType=VARCHAR},
        idcardpic = #{idcardpic,jdbcType=LONGVARBINARY},
        capturepic = #{capturepic,jdbcType=LONGVARBINARY}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hzgc.service.people.model.Picture">
        update t_picture
        set peopleid = #{peopleid,jdbcType=VARCHAR},
        feature = #{feature,jdbcType=VARCHAR},
        bitfeature = #{bitfeature,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>