<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzgc.service.people.dao.RecognizeMapper">
    <resultMap id="BaseResultMap" type="com.hzgc.service.people.model.Recognize">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="peopleid" property="peopleid" jdbcType="VARCHAR"/>
        <result column="deviceid" property="deviceid" jdbcType="VARCHAR"/>
        <result column="capturetime" property="capturetime" jdbcType="TIMESTAMP"/>
        <result column="surl" property="surl" jdbcType="VARCHAR"/>
        <result column="burl" property="burl" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, peopleid, deviceid, capturetime, surl, burl
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from t_recognize
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from t_recognize
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.hzgc.service.people.model.Recognize">
        insert into t_recognize (id, peopleid, deviceid,
        capturetime, surl, burl
        )
        values (#{id,jdbcType=BIGINT}, #{peopleid,jdbcType=VARCHAR}, #{deviceid,jdbcType=VARCHAR},
        #{capturetime,jdbcType=TIMESTAMP}, #{surl,jdbcType=VARCHAR}, #{burl,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.hzgc.service.people.model.Recognize">
        insert into t_recognize
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="peopleid != null">
                peopleid,
            </if>
            <if test="deviceid != null">
                deviceid,
            </if>
            <if test="capturetime != null">
                capturetime,
            </if>
            <if test="surl != null">
                surl,
            </if>
            <if test="burl != null">
                burl,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="peopleid != null">
                #{peopleid,jdbcType=VARCHAR},
            </if>
            <if test="deviceid != null">
                #{deviceid,jdbcType=VARCHAR},
            </if>
            <if test="capturetime != null">
                #{capturetime,jdbcType=TIMESTAMP},
            </if>
            <if test="surl != null">
                #{surl,jdbcType=VARCHAR},
            </if>
            <if test="burl != null">
                #{burl,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hzgc.service.people.model.Recognize">
        update t_recognize
        <set>
            <if test="peopleid != null">
                peopleid = #{peopleid,jdbcType=VARCHAR},
            </if>
            <if test="deviceid != null">
                deviceid = #{deviceid,jdbcType=VARCHAR},
            </if>
            <if test="capturetime != null">
                capturetime = #{capturetime,jdbcType=TIMESTAMP},
            </if>
            <if test="surl != null">
                surl = #{surl,jdbcType=VARCHAR},
            </if>
            <if test="burl != null">
                burl = #{burl,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hzgc.service.people.model.Recognize">
        update t_recognize
        set peopleid = #{peopleid,jdbcType=VARCHAR},
        deviceid = #{deviceid,jdbcType=VARCHAR},
        capturetime = #{capturetime,jdbcType=TIMESTAMP},
        surl = #{surl,jdbcType=VARCHAR},
        burl = #{burl,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>