<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzgc.cluster.peoman.worker.dao.PeopleRecognizeMapper" >
  <resultMap id="BaseResultMap" type="com.hzgc.cluster.peoman.worker.model.PeopleRecognize" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="peopleid" property="peopleid" jdbcType="VARCHAR" />
    <result column="community" property="community" jdbcType="BIGINT" />
    <result column="pictureid" property="pictureid" jdbcType="BIGINT" />
    <result column="deviceid" property="deviceid" jdbcType="VARCHAR" />
    <result column="capturetime" property="capturetime" jdbcType="TIMESTAMP" />
    <result column="surl" property="surl" jdbcType="VARCHAR" />
    <result column="burl" property="burl" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="INTEGER" />
    <result column="similarity" property="similarity" jdbcType="FLOAT" />
    <result column="filterTime" property="filterTime" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, peopleid, community, pictureid, deviceid, capturetime, surl, burl, flag, similarity
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_people_recognize
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_people_recognize
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hzgc.cluster.peoman.worker.model.PeopleRecognize" >
    insert into t_people_recognize (id, peopleid, community, 
      pictureid, deviceid, capturetime, 
      surl, burl, flag, similarity)
    select #{id,jdbcType=VARCHAR}, #{peopleid,jdbcType=VARCHAR}, #{community,jdbcType=BIGINT},
      #{pictureid,jdbcType=BIGINT}, #{deviceid,jdbcType=VARCHAR}, #{capturetime,jdbcType=TIMESTAMP}, 
      #{surl,jdbcType=VARCHAR}, #{burl,jdbcType=VARCHAR}, #{flag,jdbcType=INTEGER}, #{similarity,jdbcType=FLOAT} from dual where not exists
      (select 1 from t_people_recognize where peopleid=#{peopleid,jdbcType=VARCHAR} and deviceid=#{deviceid,jdbcType=VARCHAR} and unix_timestamp(capturetime)>unix_timestamp(now())-#{filterTime,jdbcType=INTEGER})
  </insert>
  <insert id="insertUpdate" parameterType="com.hzgc.cluster.peoman.worker.model.PeopleRecognize" >
    replace into t_people_recognize (id, peopleid, community,
      pictureid, deviceid, capturetime,
      surl, burl, flag, similarity)
    select #{id,jdbcType=VARCHAR}, #{peopleid,jdbcType=VARCHAR}, #{community,jdbcType=BIGINT},
      #{pictureid,jdbcType=BIGINT}, #{deviceid,jdbcType=VARCHAR}, #{capturetime,jdbcType=TIMESTAMP},
      #{surl,jdbcType=VARCHAR}, #{burl,jdbcType=VARCHAR}, #{flag,jdbcType=INTEGER}, #{similarity,jdbcType=FLOAT} from dual where not exists
      (select 1 from t_people_recognize where peopleid=#{peopleid,jdbcType=VARCHAR} and deviceid=#{deviceid,jdbcType=VARCHAR} and unix_timestamp(capturetime)>unix_timestamp(now())-#{filterTime,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.hzgc.cluster.peoman.worker.model.PeopleRecognize" >
    insert into t_people_recognize
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="peopleid != null" >
        peopleid,
      </if>
      <if test="community != null" >
        community,
      </if>
      <if test="pictureid != null" >
        pictureid,
      </if>
      <if test="deviceid != null" >
        deviceid,
      </if>
      <if test="capturetime != null" >
        capturetime,
      </if>
      <if test="surl != null" >
        surl,
      </if>
      <if test="burl != null" >
        burl,
      </if>
      <if test="flag != null" >
        flag,
      </if>
      <if test="similarity != null" >
        similarity,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="peopleid != null" >
        #{peopleid,jdbcType=VARCHAR},
      </if>
      <if test="community != null" >
        #{community,jdbcType=BIGINT},
      </if>
      <if test="pictureid != null" >
        #{pictureid,jdbcType=BIGINT},
      </if>
      <if test="deviceid != null" >
        #{deviceid,jdbcType=VARCHAR},
      </if>
      <if test="capturetime != null" >
        #{capturetime,jdbcType=TIMESTAMP},
      </if>
      <if test="surl != null" >
        #{surl,jdbcType=VARCHAR},
      </if>
      <if test="burl != null" >
        #{burl,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=INTEGER},
      </if>
      <if test="similarity != null" >
        #{similarity,jdbcType=FLOAT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hzgc.cluster.peoman.worker.model.PeopleRecognize" >
    update t_people_recognize
    <set >
      <if test="peopleid != null" >
        peopleid = #{peopleid,jdbcType=VARCHAR},
      </if>
      <if test="community != null" >
        community = #{community,jdbcType=BIGINT},
      </if>
      <if test="pictureid != null" >
        pictureid = #{pictureid,jdbcType=BIGINT},
      </if>
      <if test="deviceid != null" >
        deviceid = #{deviceid,jdbcType=VARCHAR},
      </if>
      <if test="capturetime != null" >
        capturetime = #{capturetime,jdbcType=TIMESTAMP},
      </if>
      <if test="surl != null" >
        surl = #{surl,jdbcType=VARCHAR},
      </if>
      <if test="burl != null" >
        burl = #{burl,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=INTEGER},
      </if>
      <if test="similarity != null" >
        similarity = #{similarity,jdbcType=FLOAT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hzgc.cluster.peoman.worker.model.PeopleRecognize" >
    update t_people_recognize
    set peopleid = #{peopleid,jdbcType=VARCHAR},
      community = #{community,jdbcType=BIGINT},
      pictureid = #{pictureid,jdbcType=BIGINT},
      deviceid = #{deviceid,jdbcType=VARCHAR},
      capturetime = #{capturetime,jdbcType=TIMESTAMP},
      surl = #{surl,jdbcType=VARCHAR},
      burl = #{burl,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=INTEGER},
      similarity = #{similarity,jdbcType=FLOAT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>